{% extends "layout.html" %}
{% block content %}
<div class="contactus" id="contactus">
    <h1 class="title">Introduction</h1>
    <div class="ourteam">
        <div class="aboutuss">
        <ul>
            <li>This presentation gives about the total number of applicants per each features and it shows also the result of the
                <br>scoring model such as the listed, interviewed and offered number of applicants.
            </li><br>

            <li>It describes also about the conditions that are used for scoring model.</li> <br>
            <li>We are building Balancing the scale  to reduce bias. It  helps consistency into their selection process. 
To avoid the quick judgments that is influenced by background, culture, environment and personal experiences. 
During Candidate selection process, 
individuals have the potential to make decisions based on opinions they've formed about different groups or sets of people,
 often without realizing it. This introduces unconscious bias into the hiring process.</li><br>

            <li>By leveraging the balancing the scale, managers, recruiters or any Or the person based on 
                the selection process are better equipped to prioritize improving diversity within their organizations.</li><br>
            <li>There are things that you can infer from a country, from gender from a name from age or race. 
                Our solution provides the flexibility to remove all of the identifiable information that could elicit unconscious bias.</li><br>
            <li>It has to be today a fast, transparent and easy hiring experience. The Balancing the scale  
                solution provides even greater candidate opportunity.</li>
        </ul>
        
        </div>
    </div>

    
</div>
{% endblock content %}