{% extends "layout.html" %}
{% block content %}

<div class="contactus" id="contactus">
    <h1 class="title">Our team</h1>
    <div class="ourteam">
        <div class="one">
            <img src="{{ url_for('static', filename='images/nazar.jfif') }}" alt="Ohmar"> 
            
            <h3><b>Nazzal Elfares</b></h3>
        </div>
        <div class="two">
            <img src="static/images/semera.jfif" alt="Ohmar">
            <h3><b>Semere Okbai</b></h3>
        </div>
        <div class="border">
            
        </div>
        <div class="aboutus">
            <h1>About Us</h1>
        </div>
        <div class="three">
            <h1>We are data professionals at:</h1>
             <h1>Do Good Only Company</h1>
        </div>
        <div class="four">
            <img src="static/images/ohmar.jfif" alt="Ohmar">
            <h3><b>Ohmar Htay</b></h3>
        </div>
        <div class="five">
            <img src="static/images/takliya.jfif" alt="Ohmar">
            <h3><b>Teklehaimanot Mekonen</b></h3>
        </div>
        
    </div>
</div>
{% endblock content %}