{% extends "layout.html" %}
{% block content %}

<div class="services" id="services">
    <h1 class="title">our Services</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam quia, porro repellendus dolore repudiandae, accusantium corporis harum vel iste suscipit maiores provident ullam itaque libero minus nesciunt consequatur iusto numquam asperiores quod fugiat veniam blanditiis.</p>
    <div class="diff_services">
        <div class="diff_services_item">
            <img src="static/images/service.jfif" alt="service_image">
            <h3 class="sub_title">Web Development</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="diff_services_item">
            <img src="static/images/service1.jfif" alt="service_image">
            <h3 class="sub_title">App Development</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="diff_services_item">
            <img src="static/images/service2.jfif" alt="service_image">
            <h3 class="sub_title">PSD to HTML</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
</div>

{% endblock content %}