{% extends "home.html" %}
{% block content %}


<div class="contactus" id="contactus">
    <h1 class="title">All users application Froms Details</h1>
    <h3>tableToExcel Demo</h3>
    <input class="btnE" onclick="tableToExcel('testTable', 'W3C Example Table')" value="Export to Excel">
    

        <table id="testTable">

        <tr>
            <th>User</th>
            <th>Username</th>
            <th>Posted</th>
            <th>Contact Number</th>
            <th>Date Of Birth</th>
            <th>Date Of Lost Job</th>
            <th>Education background</th>
            <th>Relevant Skills</th>
            <th>Jobs Lost</th>
            <th>Applied Jobs</th>
            <th>Interview</th>
            <th>Function</th>
            <th>Reson Of Reject</th>

            
            
        </tr>
        {% for survey in surveys %}
        <tr>
            <td><img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + survey.author.image_file) }}"></td>
            <td><a class="mr-2" href="#">{{ survey.author.username }}</a></td>
            <td><small class="text-muted">{{ survey.date_posted.strftime('%Y-%m-%d') }}</small></td>
            <td>{{ survey.phone }}</td>
            <td>{{ survey.dob }}</td>
            <td>{{ survey.lost }}</td>
            <td>{{survey.education}}</td>
            <td>{{survey.skills}}</td>
            <td>{{survey.lost}}</td>
            <td>{{survey.applied}}</td>
            <td>{{survey.interview}}</td>
            <td>{{survey.function}}</td>
            <td>{{survey.reason}}</td>

        </tr>
        {% endfor %}
        </table>

        <div class="">
            
           
        </div>
</div>
{% endblock content %}